#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #71323e;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  line-height: 1;
}

body {
  width: 100%;
  height: 100%;
  background: rgb(200, 105, 146);
  background: -moz-radial-gradient(
    top left,
    ellipse cover,
    #dd879e 0%,
    rgb(181, 197, 216, 1) 57%
  );
  background: -webkit-gradient(
    radial,
    top left,
    0px,
    top left,
    100%,
    color-stop(0%, rgba(221, 135, 158)),
    color-stop(57%, rgba(181, 197, 216, 1))
  );
  background: -webkit-radial-gradient(
    top left,
    ellipse cover,
    rgba(221, 135, 158) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -o-radial-gradient(
    top left,
    ellipse cover,
    rgba(221, 135, 158) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -ms-radial-gradient(
    top left,
    ellipse cover,
    rgba(221, 135, 158) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: radial-gradient(
    ellipse at top left,
    rgba(221, 135, 158) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb5e73', endColorstr='#b5c5d8',GradientType=1 );
}

// elements
.music-btn {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
